.experience__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.experience__container > div {
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.experience__container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.experience__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.experience__content {
  text-align: center;
  height: 100%;
  position: relative;
}

.experience__details {
  text-align: center;
  height: 100%;
  position: relative;
}

.experience__details-icon {
  margin-top: 6px;
  color: var(--color-primary);
}

h4 {
  color: rgb(247, 249, 247);
  text-shadow: 0 0 10px #4db5ff,
    0 0 80px #fff800,
    0 0 160px #fff800;
}



/* ===== MEDIA QUERIES (MEDIUM DEVICES) ===== */
@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }

  .experience__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .experience__content {
    padding: 1rem;
  }
}

/* ===== MEDIA QUERIES (SMALL DEVICES) ===== */
@media screen and (max-width: 500px) {
  .experience__container {
    gap: 1rem;
  }

  .experience__container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}
